<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.sjkh.mapper.sjdatasource.CustomerServiceBranchMapper" >
  <resultMap id="BaseResultMap" type="customerServiceBranch">
    <id column="MOBILENO" jdbcType="VARCHAR" property="mobileno" />
    <result column="CLIENT_ID" jdbcType="VARCHAR" property="clientId" />
    <result column="CHANNEL" jdbcType="CHAR" property="channel" />
    <result column="BRANCHNO" jdbcType="VARCHAR" property="branchno" />
    <result column="REQTIME" jdbcType="VARCHAR" property="reqtime" />
    <result column="UPDATETIME" jdbcType="VARCHAR" property="updatetime" />
    <result column="SYNCLIENTIDFLG" jdbcType="CHAR" property="synclientidflg" />
    <result column="SYNCRMFLG" jdbcType="CHAR" property="syncrmflg" />
    <result column="THIRDPARTYCHANNEL" jdbcType="VARCHAR" property="thirdpartychannel" />
  </resultMap>
  <sql id="Base_Column_List" >
    MOBILENO, CLIENT_ID, CHANNEL, BRANCHNO, REQTIME, UPDATETIME, SYNCLIENTIDFLG, SYNCRMFLG,
    THIRDPARTYCHANNEL
  </sql>
  <sql id="queryParam">
    <where>
      <if test="mobileno != null">
        AND MOBILENO = #{mobileno,jdbcType=VARCHAR}
      </if>
      <if test="clientId != null" >
        AND CLIENT_ID = #{clientId,jdbcType=VARCHAR}
      </if>
      <if test="channel != null" >
        AND CHANNEL = #{channel,jdbcType=CHAR}
      </if>
      <if test="branchno != null" >
        AND BRANCHNO = #{branchno,jdbcType=VARCHAR}
      </if>
      <if test="reqtime != null" >
        AND REQTIME = #{reqtime,jdbcType=VARCHAR}
      </if>
      <if test="updatetime != null" >
        AND UPDATETIME = #{updatetime,jdbcType=VARCHAR}
      </if>
      <if test="synclientidflg != null" >
        AND SYNCLIENTIDFLG = #{synclientidflg,jdbcType=CHAR}
      </if>
      <if test="syncrmflg != null" >
        AND SYNCRMFLG = #{syncrmflg,jdbcType=CHAR}
      </if>
      <if test="thirdpartychannel != null" >
        AND THIRDPARTYCHANNEL = #{thirdpartychannel,jdbcType=CHAR}
      </if>
    </where>
  </sql>
</mapper>