<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.sjkh.mapper.sjdatasource.OfficeHolidaysMapper" >
  <resultMap id="BaseResultMap" type="officeHolidays" >
    <id column="CURRENTDAY" property="currentday" jdbcType="VARCHAR" />
    <result column="OFFICEFLG" property="officeflg" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CURRENTDAY, OFFICEFLG
  </sql>
</mapper>