<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- 定义连接管理器 -->
	<bean id="connectionManager" class="com.app.sjkh.esb.commons.httpclient.MyPoolConnectionManager" destroy-method="shutdown">
		<!-- 设置最大连接数 -->
		<property name="maxTotal" value="${http.maxTotal}"/>
		<!-- 设置每个主机的最大并发数 -->
		<property name="defaultMaxPerRoute" value="${http.defaultMaxPerRoute}"/>
	</bean>
	
	<!-- 定义HttpClientBuilder -->
	<bean id="httpClientBuilder" class="org.apache.http.impl.client.HttpClientBuilder">
		<!-- 设置连接管理器 -->
		<property name="connectionManager" ref="connectionManager"/>
	</bean>
	
	<!-- 定义Httpclient对象 -->
	<!-- 必须是多例对象 -->
	<bean id="closeableHttpClient" class="org.apache.http.impl.client.CloseableHttpClient" 
		factory-bean="httpClientBuilder" factory-method="build" scope="prototype">
	</bean>

	<bean id="requestConfigBuilder" class="org.apache.http.client.config.RequestConfig.Builder">
		<!-- 创建连接的最长时间 -->
		<property name="connectTimeout" value="${http.connectTimeout}"/>
		<!-- 从连接池中获取到连接的最长时间 -->
		<property name="connectionRequestTimeout" value="${http.connectionRequestTimeout}"/>
		<!-- 数据传输的最长时间 -->
		<property name="socketTimeout" value="${http.socketTimeout}"/>
		<!-- 提交请求前测试连接是否可用 -->
		<!--<property name="staleConnectionCheckEnabled" value="${http.staleConnectionCheckEnabled}"/>-->
	</bean>
	
	<!-- 定义请求参数 -->
	<bean id="requestConfig" class="org.apache.http.client.config.RequestConfig" factory-bean="requestConfigBuilder" factory-method="build">
	</bean>
	
	<!-- 关闭失效连接 -->
	<bean class="com.app.sjkh.esb.commons.httpclient.IdleConnectionEvictor" destroy-method="shutdown">
		<constructor-arg index="0" ref="connectionManager"/>
	</bean>
 
</beans>
