<div class="page bg01" id="business_index" data-pageTitle="手机开户2.0">
	<section class="main">
        <header class="header">
            <a href="javascript:void(0)" class="icon_back" id="back"></a>
            <h3>掌上开户</h3>
        </header>
        <div class="in_cont_box pt90">
            <div class="cont_a m0_18_36_18" style="display: none"> <!--此按钮有点击效果，在此标签加class=on体现，主要是背景色的变化-->
            	<span class="icon01"></span>
                <div class="text">
                    <h2>新开户</h2>
                    <h3>初次开立帐户</h3>
                </div>
            </div>
            
            <!--此按钮有点击效果，在此标签加class=on体现，主要是背景色的变化-->
            <!-- 
            <div class="cont_a m0_18" >  
            	<span class="icon02"></span>
                <div class="text">
                    <h2>转户</h2>
                    <h3>已在其他券商开立帐户</h3>
                </div>
            </div>
            -->
        </div>
    </section>
</div>

