<div class="page" id="account_accountSuccess" data-pageTitle="开户成功">
    <section class="main">
        <link rel="stylesheet" href="https://static.touker.com/hbec/projects/sjkh/v132/v132.min.css"/>
        <div class="sjkh kh-tips">
            <p class="top-info" style="position: relative;"><a style="text-align: left;position: absolute;left: 15px;top: 0px;" href="javascript:;">完成</a></span>开户提示</p>
            <!-- hourglass/check/deal -->
            <div class="main-pic check"></div>
            <div class="state-desc">
                开户完成
            </div>
            <div class="state-desc-sub">
                营业部默认交易佣金：0.3%
            </div>
            <div class="progress-bar">
                <div class="step step1">
                    <span class="state-text">
                    <span class="text">申请已受理</span><br>
                    <span class="date"></span>
                    </span>
                </div>
                <div class="step step2">
                    <span class="state-text">
                    <span class="text">开户完成</span><br>
                    <span class="date"></span>
                    </span>
                </div>
                <div class="step step3">
                    <span class="state-text">
                    <span class="text">可交易</span><br>
                    <span class="date"></span>
                    </span>
                </div>
            </div>
            <div class="download-tip" style="display: none">
                <div class="qq-logo"></div>
                <div class="desc">
                    <div class="desc-title">钱钱炒股</div>
                    <div class="desc-content">云端自动盯盘<br>随时随地玩转平民策略交易</div>
                </div>
                <a href="javascript:;" class="download-btn">立即下载</a>
            </div>
        </div>
    </section>
</div>