<div class="page" id="account_accountResult" data-pageTitle="开户结果">
	<header class="header">
    	<!--a href="javascript:void(0)" class="icon_back"></a-->
    </header>
	<section class="main">
		<div class="over_scroll">
        <div class="order_succes">
       	 	<span class="suc_icon icon"></span>
            <h5></h5>
            <p></p>
           <!-- <p>您的开户申请我们已经收到并正在受理中。</p> -->
           <!-- <p>我们会在1个交易日内审核处理您的开户请求，并通过电话或短信告知您的账户开立结果。</p>  -->
            <p>尊敬的客户，根据中登公司及银行系统开放时间，对15:00之前提交的开户申请，我司将在当天完成审核，对于15：00之后提交的开户申请，我司将在下一交易日完成开户审核，请您耐心等待。如有疑问，可致电华宝证券全国统一客服电话：4008209898！</p>
             <div class="order_info mt15" style="display:none">
            	<h5>以下是您的账户开立信息</h5>
            	<dl>
                	<dt>资金账号：</dt>
                    <dd id="zjzh">处理中...</dd>
                </dl>
                <dl>
                	<dt>深A股东账户：</dt>
                    <dd>办理中...</dd>
                </dl>
                <dl>
                	<dt>沪A股东账户：</dt>
                    <dd><a href="javascript:void(0)" class="copy02">申请 ></a>未申请</dd>
                </dl>
              <dl>
                	<dt>深开放式基金：</dt>
                    <dd>办理中...</dd>
                </dl>
                <dl>
                	<dt>沪开放式基金：</dt>
                    <dd><a href="javascript:void(0)">申请 ></a>未申请</dd>
                </dl>
            </div>
        </div>
        <div class="fix_bot mt10">
			<!--div class="ct_btn share_btn">
	        	<a href="javascript:void(0)"><span>分享</span></a>
	        </div-->
	         <div class="ct_btn mt10" id="quede">
	        	<a href="javascript:void(0)"><span>确定</span></a>
	        </div>
	    </div>
	    </div>
    </section>
    
</div>