<div class="page" id="account_backThirdDepository" data-pageTitle="驳回三方存管">
	<header class="header">
    	<h3>开户进度</h3>
    </header>
	<section class="main">
		<div class="over_scroll">
        <div class="error_notice">
        	<h5>您的三方存管银行签约失败！</h5>
			<p style="color:#C50436">失败原因：银行卡号不存在，请重新指定三方存管理银行</p>
        </div>
       <div class="user_form">
        	<div class="input_form circular">
            	<div class="input_text">
                	<span class="tit">选择银行</span><strong class="sel_text"  id="selectBank">请选择银行</strong>
                </div>
            </div>
         
            <div class="input_form circular">
            
                 <div class="input_text mb30" id="input_text_bankcard" style="margin-bottom: 15px;" >
					<span class="tit">银行卡号</span>
					<div id="input_text_bankcard_keyboard" class="input_custom" data-role="请输入银行卡号"><em>请输入银行卡号</em></div>
				</div>
                <div class="input_text" id="input_text_bankcardPwd" style="margin-bottom: 15px;" >
					<span class="tit">银行密码</span>
					<div id="input_text_bankcardPwd_keyboard" class="input_custom" data-role="请输入银行密码"><em>请输入银行卡取款密码</em></div>
				</div>
            </div>
            <p id="tips0" class="l_link"  style="display:none;color:#C50436" display="none">温馨提示: <br></p>
            <p id="tips1" class="l_link"  style="display:none;color:#C50436" display="none">您选择的银行不支持同一张银行卡在多家券商办理三方存管，如该银行卡已在其他券商办理三方存管业务，请您使用另一张银行卡办理。<br></p>
            <p id="tips2" class="l_link"  style="display:none;color:#C50436" display="none">浦发银行三方存管绑定成功后请拨打浦发客服热线95528进行激活。<br></p>
            <p id="tips3" class="l_link"  style="display:none;color:#C50436" display="none">如您选择本银行，我司将给您邮寄纸质的三方存管协议，请您确保邮寄地址填写正确，并请您本人及时携带身份证、存管银行卡、存管协议至银行营业厅办理存管银行指定业务<br></p>
            <p id="tips4" class="l_link"  style="display:none;color:#C50436" display="none">如您选择本银行，我司将给您邮寄纸质的三方存管协议，请您确保邮寄地址填写正确，并请您本人及时携带身份证、存管银行卡、存管协议至银行营业厅办理存管银行指定业务<br></p>
            <p id="tips5" class="l_link"  style="display:none;color:#C50436" display="none">1、如您选择本银行，我司将给您邮寄纸质的三方存管协议，请您确保邮寄地址填写正确，并请您本人及时携带身份证、存管银行卡、存管协议至银行营业厅办理存管银行指定业务;<br/>2、您选择的银行不支持同一张银行卡在多家券商办理三方存管，如该银行卡已在其他券商办理三方存管业务，请您使用另一张银行卡办理。</p>
            <p id="tips6" class="l_link"  style="display:none;color:#C50436" display="none">1、招商银行三方存管需通过招行网银（专业版或大众版）发起银证转账进行激活;<br/>2、如您的银行卡已在其他券商办理了三方存管业务，请您使用另一张银行卡办理。</p>
            <p id="tips7" class="l_link"  style="display:none;color:#C50436" display="none">1、如您选择本银行，我司将给您邮寄纸质的三方存管协议，请您确保邮寄地址填写正确，并请您本人及时携带身份证、存管银行卡、存管协议至银行营业厅办理存管银行指定业务;<br/>2、您选择的银行不支持同一张银行卡在多家券商办理三方存管，如该银行卡已在其他券商办理三方存管业务，请您使用另一张银行卡办理。</p>
            <p id="tips8" class="l_link"  style="display:none;color:#C50436" display="none">1、如您选择本银行，我司将给您邮寄纸质的三方存管协议，请您确保邮寄地址填写正确，并请您本人及时携带身份证、存管银行卡、存管协议至银行营业厅办理存管银行指定业务;<br/>2、您选择的银行不支持同一张银行卡在多家券商办理三方存管，如该银行卡已在其他券商办理三方存管业务，请您使用另一张银行卡办理。</p>
            <p id="tips9" class="l_link"  style="display:none;color:#C50436" display="none">1、如您选择本银行，我司将给您邮寄纸质的三方存管协议，请您确保邮寄地址填写正确，并请您本人及时携带身份证、存管银行卡、存管协议至银行营业厅办理存管银行指定业务;<br/>2、您选择的银行不支持同一张银行卡在多家券商办理三方存管，如该银行卡已在其他券商办理三方存管业务，请您使用另一张银行卡办理。</p>
            <p id="bindInfo" class="l_link" style="display:none; color:#C50436">1、签署此银行需前往银行柜台确认绑定关系 <br/> 2、届时带好本人身份证、银行卡、三方存管单前往银行办理绑定  <br/> 3、稍后我司将会把三方存管单邮寄您通讯地址上</p>
            <p id="signInfo"></p>
            <p class="l_link none mt5 mt10 mb10 protocolshow " style="display: none;">阅读<a href="javascript:void(0)" id="protocolName">《券商银行投资者三方协议》</a></p>
            <div class="rule_check01 mt5 protocolshow mb10" style="display: none;">
            	<a href="javascript:void(0)" class="h40 icon_check checked">我已阅读并同意上述协议</a>
            </div>
        </div>
        <div class="fix_bot">
			<div class="ct_btn">
	        	<a href="javascript:void(0)">下一步</a>
	        </div>
	    </div>
	    </div>
    </section>
    
    <div class="sel_list" id="bankListPage" style="display: none;">
		<div class="sel_info">
	    	<a href="javascript:void(0)" style="display:none">确定</a>
	    	<strong>选择银行：</strong>
	    </div>
		<ul>
		</ul>
	</div>
</div>