<div class="page" id="account_openConfirm" data-pageTitle="问卷回访">
	<header class="header">
    	<a href="javascript:void(0);" class="icon_back"></a>
    	<h3>问卷回访</h3>
    </header>
	<section class="main">
		<div class="over_scroll">
          <div class="step_box top_step">
            <ul class="step_li_sub clearfix">
            	<li class="old_on"><span>1.实名验证</span></li>
            	<li class="old_on"><span>2.开立账户</span></li>
                <li class="last_on"><span>3.开户确认</span></li>
            </ul>
        </div>
 <!--2014-7-21 <div class="top_title">
        	     <p>请确认并选择以下问题答案</p>
               </div>   -->
        <div class="user_form">
        </div>
        <div class="fix_bot" style="padding-bottom:20px;">
			<div class="ct_btn">
	        	<a href="javascript:void(0);">提交结果</a>
	        </div>
	    </div>
	    </div>
    </section>
    
</div>