<div class="page bg02 height_auto" id="account_openAccount" data-pageTitle="新开户须知">
	<header class="header">
		<a href="javascript:void(0)" class="icon_back" style="display: none"></a>
		<h3>开户须知</h3>
	</header>  
	<section class="sjkh-vacation" style="display:none">
		<div class="modal" id="vacationModal">
			<div class="modal-mask">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<a href="javascript:;" class="close" id="closeBtn"></a>
						</div>
						<div class="modal-body">
							<div class="tips">
								很抱歉！目前开户系统为非服务时间，请您在交易日9:00-20:00及双休日9:00-17:00（节假日休息）进行开户操作，感谢您对华宝证券的支持！
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="main">
		<div class="over_scroll">
			<div class="ness_box">
				<h5>开户前的准备：</h5>
				<ul>
					<li>
						<em></em>准备好您本人的第二代身份证，您必须年满18岁
					</li>
					<li>
						<em></em>用于身份验证或绑定三方存管的银行卡
					</li>
					<li>
						<em></em>开户中需传输图像及视频等大流量数据，建议使用WIFI
					</li>
				</ul>
			</div>
			<div class="step_box" style="padding-top:5px;">
				<h5>三步即可开户：</h5>
				<ul class="step_li clearfix">
					<li>
						<span style="width:100%; padding:0;">1. 身份验证</span>
					</li>
					<li>
						<span style="width:100%; padding:0;">2. 填写资料</span>
					</li>
					<li>
						<span style="width:100%; padding:0;">3. 受理完成</span>
					</li>
				</ul>
			</div>
			<div class="fix_bot" style="padding-top:10px; padding-bottom:5px;">
				<div class="ct_btn">
					<!--此通用标签有触发效果加class=cur按钮颜色改变-->
					<a class="next" href="javascript:void(0);">我知道了</a>
				</div>
			</div>
		</div>
	</section>
</div>
