<div class="page" id="account_phoneCodeVerify" data-pageTitle="身份验证-短信验证码">
	<header class="header">
    	<a href="javascript:void(0)" class="icon_back"></a>
    	<h3>输入短信验证码</h3>
    </header>
	<section class="main">
		 <div class="top_title">
        	<p class="sendPhoneTip">&nbsp;</p>
        </div>
        <div class="mobile_form">
            <div class="input_text h44">
            	<span class="textLable">验证码</span>
                <input type="tel" class="t1 h24 mobileCode" style="line-height: 18px;" maxlength="6" minlength="6" value="" placeholder="请输入验证码">
                <a href="javascript:void(0)" class="code_btn on getmsg">发送验证码</a> <!--此标签默认为灰色状态，加class=on为红色可点击状态-->
                <a href="javascript:void(0)" class="code_btn time" style="display:none">120秒后重发</a>
            </div>
        </div>
         <div class="cert_notice" style="display:none">

    	</div>
    </section>
    <script>
    	$(function(){
    		if($(".mobileCode").val()!="请输入验证码"){
   				$(".mobileCode").css({color:"#E3E3E3"});
   			}
    		$(".mobileCode").on("click",function(){
				if($(this).val()=="请输入手机号码" || $(this).val()==""){
					$(this).css({color:"#2F2F2F"}).val("");
				}
    		});
    		$(".mobileCode").on("blur",function(){
    			if($(this).val()==""){
    				$(this).val("请输入验证码").css({color:"#E3E3E3"});
    			}
    		});
    	})
    </script>
    <div class="fix_bot">
		<div class="ct_btn">
        	<a href="javascript:void(0)">下一步</a>
        </div>
    </div>
</div>