<div class="page" id="account_pwdVerify" data-pageTitle="校验交易密码">
	<header class="header">
		<a href="javascript:void(0)" class="icon_back"></a>
		<h3>校验交易密码</h3>
	</header>

	<section class="main verify">
		<div class="top_title ">
			<p>
				因您已经注册华宝证券投客网，请输入投客网中的交易密码（6位数字），用于证券交易。
			</p>
		</div>
		<div class="mobile_form">
			<div class="input_text h44">
				<span class="textLable">交易密码</span>
				<input type="password" class="t1 h24 password" maxlength="6" value="" placeholder="请输入交易密码">
			</div>
		</div>
		<div class="fix_bot">
			<div class="ct_btn">
				<a href="javascript:void(0)">下一步</a>
			</div>
		</div>
		<!--<div class="tips-bottom tpbank1">
			<span class="tips-txt"><span class="tips-icon">！</span><span>如果忘记交易密码，请使用电脑打开如下地址进行重置交易密码操作:</span></span>
			<a href="javascript:void(0)" class="tp1a">http://dwz.cn/2jjQHX</a>
		</div>-->
		
		<div class="tips-bottom tpbank2">
			<a href="javascript:void(0)" class="tp2a">忘记交易密码</a>
		</div>
	</section>

</div>