<div class="page" id="account_selDepartment" data-pageTitle="身份验证-选择营业部">
    <header class="header">
    	<a href="javascript:void(0)" class="icon_back"></a>
    	<h3>选择开户营业部</h3>
    </header>
	<section class="main">
        <div class="top_title">
        	<p>请选择开户营业部</p>
        </div>
        <div class="mobile_form">
        	<!--<div class="input_text circular">
            	<span class="tit">省/区/市</span>
            	<strong class="sel_text sel_province">请选择省份</strong>
            </div>
            <div class="input_text circular">
            	<span class="tit">城  市</span>
            	<strong class="sel_text sel_city">请选择城市</strong>
            </div>-->
            <div class="input_text circular">
            	<span class="tit">营业部</span>
            	<strong class="sel_text sel_branch">请选择营业部</strong>
            </div>
            <!--<div class="input_text circular">
            	<span class="tit">佣  金</span>
                <strong class="sel_text sel_commission">请选择佣金套餐</strong>
            </div>-->
        </div>
        <div class="c_link" style="display:none">
        	<a href="javascript:void(0)">套餐描述</a>
        </div>
        <div class="fix_bot">
			<div class="ct_btn">
	        	<a href="javascript:void(0)">下一步 ></a>
	        </div>
	    </div>
    </section>
   <div class="local_box" style="display:none">
		<p>定位中...</p>
	    <a href="javascript:void(0)" class="cancel">取消</a>
	</div>
	<div class="sel_list province" style="display:none">
		<div class="sel_info">
	    	<a href="javascript:void(0)" style="display:none">确定</a>
	    	<strong>省/区/市：</strong>
	    </div>
		<ul>
		</ul>
	</div>
	<div class="sel_list city" style="display:none">
		<div class="sel_info">
	    	<a href="javascript:void(0)" style="display:none">确定</a>
	    	<strong>城市：</strong>
	    </div>
		<ul>
		</ul>
	</div>
	<div class="sel_list branch" style="display:none">
		<div class="sel_info">
	    	<a href="javascript:void(0)" style="display:none">确定</a>
	    	<strong>营业部：</strong>
	    </div>
		<ul>
		</ul>
	</div>
    <div class="sel_list commission" style="display:none">
		<div class="sel_info">
	    	<a href="javascript:void(0)" style="display:none">确定</a>
	    	<strong>佣金：</strong>
	    </div>
		<ul>
		</ul>
	</div>
</div>