<div class="page" id="account_setPwd" data-pageTitle="设置密码">
	<header class="header" style="position:relative; z-index:100000;">
    	<a href="javascript:void(0)" class="icon_back"></a>
    	<h3>设置密码</h3>
    </header>
	<section class="main">
		<div class="over_scroll">
	        <div class="step_box top_step">
	            <ul class="step_li_sub clearfix">
	            	<li class="old_on"><span>1.实名验证</span></li>
	            	<li class="on"><span>2.开立账户</span></li>
	                <li><span>3.开户确认</span></li>
	            </ul>
	        </div>
	        <div class="top_title02">
	        	<p>设置交易密码和资金密码</p>
	        </div>
	        <div class="user_form">
	        	<h5 class="title">设置交易密码：（进行证券交易时使用）</h5>
	        	<div class="input_form circular">
	        	
					<div class="input_text" id="input_text_pass1" style="margin-bottom: 15px;">
						<span class="tit">交易密码</span>
						<div id="input_text_pass1_keyboard" class="input_custom" data-role="请输入6位数字交易密码">
							<em>请输入6位数字交易密码</em>
						</div>
					</div>
	            	<div class="input_text" id="input_text_pass2" style="margin-bottom: 15px;" >
						<span class="tit">再次输入</span>
						<div id="input_text_pass2_keyboard" class="input_custom" data-role="请再次输入交易密码">
							<em>请再次输入交易密码</em>
						</div>
					</div>
	            	
	            </div>
	            <div class="rule_check01 mt15">
	            	<a href="javascript:void(0)" class="icon_check h40 checked">资金密码与交易密码相同</a>
	            </div>
	            <h5 class="title" style="display: none" id="m_title">设置资金密码：（进行资金转入和转出时使用）</h5>
	            <div class="input_form circular" style="display: none">
	            
	                <div class="input_text" id="input_text_pass3" style="margin-bottom: 15px;" >
						<span class="tit">资金密码</span>
						<div id="input_text_pass3_keyboard" class="input_custom" data-role="请输入6位数字资金密码">
							<em>请输入6位数字资金密码</em>
						</div>
					</div>
	            
	                <div class="input_text" id="input_text_pass4" style="margin-bottom: 15px;" >
						<span class="tit">再次输入</span>
						<div id="input_text_pass4_keyboard" class="input_custom" data-role="请再次输入资金密码">
							<em>请再次输入资金密码</em>
						</div>
					</div>
	            </div>
	            <p class="fz12 mt10">资金密码在进行资金转入和转出时使用</p>
	        </div>
	        <div class="fix_bot">
				<div class="ct_btn">
		        	<a href="javascript:void(0)">下一步</a>
		        </div>
		    </div>
        </div>
        
    </section>
    

</div>