<div class="page" id="account_digitalCertificate" data-pageTitle="设置证书密码">
	<header class="header">
    	<h3>数字证书安装</h3>
    </header>
	<section class="main">
        <div class="step_box top_step">
            <ul class="step_li clearfix">
            	<li><span>实名验证</span><em></em></li>
            	<li class="active"><span>开立账户</span><em></em></li>
                <li><span>开户确认</span><em></em></li>
            </ul>
        </div>
        <div class="order_succes">
            <h5>正在安装证书,请勿退出应用</h5>
           	<div style="margin: auto;width: 235px;height: 235px;margin-top: 40px;margin-bottom: 40px;"><img src="project/images/u23_normal.gif"></div>
        </div>
        <div class="cert_down" style="display: none;">
        	<span class="cert_stat"></span>
        	<p><a href="javascript:void(0)">安装出现问题? </a></p>
        </div>
    </section>
    <div class="fix_bot">
		<div id="next_btn" class="ce_btn">
        	<a href="javascript:void(0)">请稍等...</a>
        </div>	
    </div>
    <div class="qa_list" style="display: none;">
		<h5>安装出现问题？</h5>
	    <ul>
	    	<li><a href="javascript:void(0)">拨打客服热线 90660</a></li>
	    	<li><a href="javascript:void(0)">咨询QQ在线客服</a></li>
	    	<li><a href="javascript:void(0)">添加微信公共号"XX证券"咨询</a></li>
		</ul>
	</div>
</div>


<div class="page" id="account_setPwdCertificate" data-pageTitle="设置证书密码">
	<header class="header">
    	<h3>设置证书密码</h3>
    	<a href="javascript:void(0)" class="icon_close"></a>
    </header>
	<section class="main">
        <div class="step_box top_step">
            <ul class="step_li clearfix">
            	<li><span>实名验证</span><em></em></li>
            	<li class="active"><span>开立账户</span><em></em></li>
                <li><span>开户确认</span><em></em></li>
            </ul>
        </div>
        <div class="top_title">
        	<p>为确保您的个人信息安全，请设置数字证书密码</p>
        </div>
        <div class="input_form cert_code">
        	<div class="input_text circular">
            	<span>证书密码</span><input type="password" class="t1" placeholder="填写六位下载码">
            </div>
            <div class="input_text circular">
            	<span>再次输入</span><input type="password" class="t1" placeholder="填写六位下载码">
            </div>
            <p><a href="javascript:void(0)">数字证书说明</a></p>
        </div>
    </section>
    <div class="fix_bot">
		<div class="ct_btn">
        	<a href="javascript:void(0)">下载安装 ></a>
        </div>
    </div>
    <div class="fix_info" style="display: none;">
		<h5>关于数字证书的说明</h5>
	    <ul>
	    	<li><em></em>数字证书由<span>中国证券登记结算公司</span>统一认证并签发,用于在互联网上验证您的个人身份,请务必妥善保管。</li>
			<li><em></em>下载码<span>14天</span>有效，请在有效期内及时下载证书，逾期则需重新申请。</li>
			<li><em></em>此证书有效期<span>3年</span>，逾期前请及时更新证书。</li>
			<li><em></em>如有疑问请拨打客服热线<span>(0755) 86219192</span>。</li>
		</ul>
	</div>
</div>
