<div class="page" id="account_showDigitalProtocol" data-pageTitle="查看数字证书">
	<header class="header">
    	<a href="javascript:void(0)" class="icon_back"></a>
    	<h3>查看数字证书协议</h3>
    </header>
	<section class="main">
        <div class="step_box top_step">
            <ul class="step_li_sub clearfix">
            	<li class="on"><span>1.实名验证</span><em></em></li>
            	<li><span>2.开立账户</span><em></em></li>
                <li><span>3.开户确认</span><em></em></li>
            </ul>
        </div>
        <div class="protocol_scroll" style="overflow:auto;">
	        <div class="top_title"><h3></h3></div>
	        <div class="upload_main"><p id="contenttxt"></p></div>
        </div>
        <script>
        	$(function(){
        		$(".protocol_scroll").height($(window).height()-45-44-54);
        	})
        </script>
    </section>
    <div class="fix_bot">
		<div class="ct_btn">
        	<a href="javascript:void(0)">下一步 ></a>
        </div>
    </div>
</div>