<div class="page" id="account_signProtocol" data-pageTitle="签署协议">
	<header class="header">
	   <a href="javascript:void(0)" class="icon_back"></a>
    	<h3>开户信息</h3>
    </header>
	<section class="main">
		<div class="over_scroll">
      <div class="step_box top_step">
            <ul class="step_li_sub clearfix">
            	<li class="old_on"><span>1.实名验证</span></li>
            	<li class="on"><span>2.开立账户</span></li>
                <li><span>3.开户确认</span></li>
            </ul>
        </div>
        <div class="top_title02">
        	<p>请填写开户信息</p>
        </div>
        <div class="user_form pt0">
            <h5 class="title">选择开通的账户：（多选）</h5>
            <div class="radio_list">
            	<ul>
            	</ul>
                <div class="clear"></div>
            </div>
			<h5 class="title">阅读并签署以下协议：</h5>
            <div class="rule_list">
            	<ul>
            	</ul>
            </div>
			<div class="rule_check01 mt10 mb10">
            	<a href="javascript:void(0)" class="icon_check checked">我已阅读并同意上述协议</a>
            </div>
        </div>
        <div class="fix_bot">
			<div class="ct_btn">
	        	<a href="javascript:void(0)">下一步 ></a>
	        </div>
	    </div>
	    </div>
    </section>

    
    <div class="btn_bot" style="display: none;">
		<p>取消"深圳A股"后将无法参与深交所股票、基金等交易，请您慎重选择</p>
		<div class="btn_box">
	    	<a href="javascript:void(0)">是</a>
	        <a href="javascript:void(0)">否</a>
	    </div>
	</div>
</div>
